#AIM_DEV=true
AIM_APP_HOST=127.0.0.1
AIM_APP_PORT=8989
AIM_MACHINE_ID=0
AIM_CERT_SIGN=PATH_TO_YOUR_ED25519_SECRET
AIM_RDBMS_TYPE=sqlite
AIM_RDBMS_CONNECTION_STRING=:memory:
#AIM_RDBMS_TYPE=postgresql
#AIM_RDBMS_CONNECTION_STRING=user:password@host:port/dbname

VITE_URL_BASE=http://localhost:8989
